@media only screen and (max-width: 600px) {

  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }

  .container>.img-logo {
    width: 80px;
    margin-right: auto;
  }

  .container>button {
    background-color: rgb(255, 94, 94);
    color: white;
    font-weight: bold;
    font-size: 15px;
    max-width: 110px;
    max-height: 50px;
    height: 40px;
    width: 110px;
    margin-right: 20px;
    border: none;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .headline {
    padding: 20px;
    color: white;
    text-align: left;
  }
  
  .headline>h1 {
    letter-spacing: 2px;
    font-size: 40px;
  }
  
  .headline>button {
    background-color: rgb(255, 94, 94);
    color: white;
    font-weight: bold;
    font-size: 12px;
    max-width: 275px;
    max-height: 50px;
    height: 30px;
    width: 270px;
    margin-right: 20px;
    border: none;
    text-align: left;
  }

  .support {
    padding: 20px;
  }

  .support .sponsor>h2 {
    color: white;
    padding: 3px;
    border-bottom: 2px solid white;
  }

  .support .sponsor>img {
    width: 60px;
    height: 61px;
    border-radius: 50%;
  }

  .footer {
    background-color: rgb(206, 98, 98);
    margin-top: 20px;
  }

  .footer>.contact>h4 { 
    padding: 0;
    margin: 0;
    color: white;
  }

  .footer>.contact {
    padding-top: 1rem;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
  }
}